@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

.font-outfit{
  font-family: "Outfit", sans-serif;
}

.font-inter{
  font-family: "Inter", sans-serif;
}



  .hero-bg-color{
    background-color: rgba(0, 0, 0, 0.598);
  }

  .active{
    color: rgb(255, 217, 0);
  }

  .aboutus-rotator{
    animation: spin 4s infinite linear; /* spin 1s linear infinite */
  }


  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }